<%- include("header"); %> 
<h2>This is the about page.</h2>
<p>This is a ToDO List for people who wants to keep updated on the Task he need to finish and the Task he want to mark as finish.</p>
<%- include("footer"); %> 